<h1>My Lists</h1>
<%#= @lists %>
<% @lists.each do |list|%>
 <%= link_to list.name, list_path(list) %>
<% end %>

<div class="container">

  <div class="container">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.thebendmag.com/wp-content/uploads/2023/01/shutterstock_1483078619.jpeg);">
  <div class="container">
    <h1>Glenn's Movie Watch List!</h1>
    <p>Get cultured, dum-dum.</p>
    <a class="btn btn-primary" href="#">Let' Goooo!</a>
  </div>
</div>

</div>
